/EersteJDBCApplicatie/nbproject/private/
/EersteJDBCApplicatie/build/
/BierenVerwijderen/nbproject/private/
/BierenVerwijderen/build/
/AantalBierenPerBrouwer/nbproject/private/
/AantalBierenPerBrouwer/build/
/BierenVanTotAlcohol/nbproject/private/
/BierenVanTotAlcohol/build/
/BierenVanTotAlcoholMetStoredProcedure/nbproject/private/
/BierenVanTotAlcoholMetStoredProcedure/build/
/TryTransacties/nbproject/private/
/TryTransacties/build/
/Failliet/nbproject/private/
/Failliet/build/
/TryIsolationLevel/nbproject/private/
/TryIsolationLevel/build/
/TryBatch/nbproject/private/
/TryBatch/build/