/EersteJDBCApplicatie/nbproject/private/
/EersteJDBCApplicatie/build/
/BierenVerwijderen/nbproject/private/
/BierenVerwijderen/build/
/AantalBierenPerBrouwer/nbproject/private/
/AantalBierenPerBrouwer/build/
/BierenVanTotAlcohol/nbproject/private/
/BierenVanTotAlcohol/build/
/BierenVanTotAlcoholMetStoredProcedure/nbproject/private/
/BierenVanTotAlcoholMetStoredProcedure/build/